<nav id="sidebar" class="navbar-light bg-light" [ngClass]="{'hidden': sideNavService.hideSideNav }">
  <ul class="navbar-nav sidebar-font">
    <li class="nav-item">
      <a id="webinar1" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['peliculas']">Peliculas</a>
    </li>
    <li class="nav-item sidebar-font">
      <a id="webinar2" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['actores']">Actores</a>
    </li>
    <li class="nav-item sidebar-font">
      <a id="webinar2" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['directores']">Directores</a>
    </li>
  </ul>
</nav>
<nav id="sidebar-border"></nav>