<div class="row">
  <table class="table" *ngIf="actores">
    <thead>
      <tr>
        <th scope="col">
          Nombre
        </th>
        <th scope="col">
          Apellido
        </th>
        <th scope="col">
          Fecha de nacimiento
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actor of actores">
        <td>
          {{actor.nombre}}
        </td>
        <td>
          {{actor.apellido1}}
        </td>
        <td>
          {{actor.fechaNacimiento}}
        </td>
      </tr>
    </tbody>
  </table>
</div>